@import "tailwindcss";
@import "tw-animate-css";

@source "../components";

@custom-variant dark (&:where(.dark, .dark *));

/* ---------- Shadcn UI ---------- */

/* Light theme (shadcn ui) */
:root {
    --radius: 0.625rem;
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
}

/* Dark theme (shadcn ui) */
.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

/* Dark and light theme mapping (shadcn ui) */
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

/* ---------- Project UI ---------- */

/* Light theme (project ui) */
:root {
    /* --primary: var(--color-sky-700); */

    /* --background: var(--color-white); */
    /* --foreground: var(--color-black); */

    --gray-light: var(--color-gray-100);
    --gray-low: var(--color-gray-300);
    --gray-middle: var(--color-gray-500);
    --gray-high: var(--color-gray-700);

    /* --destructive: var(--color-red-600); */
    --destructive-hover: var(--color-red-500);
    --destructive-disabled: var(--color-red-200);
}

/* Dark theme (project ui) */
.dark {
    /* --primary: var(--color-sky-400); */

    /* --background: var(--color-black); */
    /* --foreground: var(--color-white); */

    --gray-light: var(--color-gray-900);
    --gray-low: var(--color-gray-700);
    --gray-middle: var(--color-gray-500);
    --gray-high: var(--color-gray-300);

    /* --destructive: var(--color-red-500); */
    --destructive-hover: var(--color-red-600);
    --destructive-disabled: var(--color-red-950);
}

/* Dark and light theme mapping (project ui) */
@theme inline {
    /* --color-primary: var(--primary); */

    /* --color-background: var(--background); */
    /* --color-foreground: var(--foreground); */

    --color-gray-light: var(--gray-light);
    --color-gray-low: var(--gray-low);
    --color-gray-middle: var(--gray-middle);
    --color-gray-high: var(--gray-high);

    /* --color-destructive: var(--destructive); */
    --color-destructive-hover: var(--destructive-hover);
    --color-destructive-disabled: var(--destructive-disabled);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

/* Reduce font size with media queries */
:root {
    /* Base (over 640px) */
    font-size: 16px;

    /* Breakpoints SM */
    @media (width <= 640px) {
        font-size: 15px;
    }

    /* Breakpoints SM */
    @media (width <= 416px) {
        font-size: 14px;
    }
}

/* Theme extensions */
@theme {
    /* Breakpoints extension for mobile  */
    --breakpoint-3xs: 320px; /* - 96px */
    --breakpoint-2xs: 416px; /* - 96px */
    --breakpoint-xs: 512px; /* - 128px */
    /* Breakpoints default based on absolute units */
    --breakpoint-sm: 640px; /* Base */
    --breakpoint-md: 768px; /* + 128px */
    --breakpoint-lg: 1024px; /* + 256px */
    --breakpoint-xl: 1280px; /* + 256px */
    --breakpoint-2xl: 1536px; /* + 256px */
    /* Breakpoints extension for larger screens */
    --breakpoint-3xl: 1920px; /* + 384px */

    /* Text sizes extension */
    --text-3xs: 0.625rem; /* 10px */
    --text-3xs--line-height: calc(1 / var(--text-3xs));
    --text-2xs: 0.5rem; /* 8px */
    --text-2xs--line-height: calc(1 / var(--text-2xs));

    /* Radius Centralisation */
    --radius-low: var(--radius-xs);
    --radius-middle: var(--radius-md);
    --radius-high: var(--radius-lg);
}

/* ---------- Common ---------- */

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    /* body {
        @apply bg-background text-foreground;
    } */
}
